{% if values is not empty %}
  <div class="parametrs">
    {% if title %}
      <div class="parametrs__title">{{ title }}</div>
    {% endif %}
    {% for data in values %}
      <div class="parametrs__item">
        <label class="parametrs__label">{{ data.label }}:</label>
        {{ data.value }}
      </div>
    {% endfor %}
  </div>
{% endif %}
